@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Raleway:wght@100;200;800;900&display=swap');

/* reset */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

body,
input,
textarea,
select,
button {
  font-family: 'Nanum Gothic',"NanumSquare", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
  font-size: 14px;
}

fieldset,
img {
  border: 0;
}

img {
  vertical-align: top;
}

li,
ol,
ul {
  list-style: none;
}

address,
em,
i {
  font-style: normal;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
b,
em {
  font-weight: normal;
}

/* 공통 */

/* 화면에 안보이게하기 */
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  /* left: -9999px; * <-clip이 들어가면 left 안 써도 되고 left가 들어가면 clip을 안써도 된다.*/
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chinese {
  font-family: 'NanumBarunGothic', '나눔바른고딕', 'Dotum', '돋움', 'Helvetica', 'Arial', 'AppleSDGothicNeo', sans-serif;
}

.text_line {
  display: block;
  margin: 0;
  word-break: keep-all;
}

.hidden {
  overflow: hidden !important;
}

button {
  border: 0;
  background: none;
  -webkit-appearance: none;
}

button:hover {
  cursor: pointer;
}

input {
  border: 0;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}

caption {
  text-indent: -9999px;
  font-size: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

textarea::-moz-placeholder {
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

textarea:-moz-placeholder {
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

textarea:-ms-input-placeholder {
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

input::-ms-clear {
  display: none;
}

body,
html {
  /* height: 100vh; 
  버전이 낮은 곳에서는 height: 100vh;를 인식하지 못하여 height: 100%;를 써야한다.*/
  height: 100%;
  font-style: normal;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
}

/* 변수선언 */
body{
  --naver-color:#1ec545;
  --header-height:80px
}

/* 레이아웃 */
header{
  position: relative;
  height: var(--header-height);
  background-color: rgba(255, 255, 255 0.7);
}
.header_wrap{
  display: flex;
  justify-content:space-between; /*양끝정렬 여백균등*/
  align-items: center; /*교차축 가운데*/
  margin: 0 auto;
  max-width: 1600px;
}
  
/* header */
   .header_logo{
    /* background-image: url(../img/header_logo.png);
    background-position: center;
    background-repeat: no-repeat; */
    background: url(../img/header_logo.png) center no-repeat;
    width: 87px;
    height: 17px;
    background-size:contain;
    background-color: #ccc;
  }
  .header_logo a{
    display: block;
    width: 100%;
    height: 100%;
  } 
/* nav */
  nav{
  }
  nav .gnb_menu{
    /*메뉴 가로정렬하는 3가지방법 : inline-block , float, flex 
    네이버는inline-block , float사용, 우리는 flex로 실습*/

    /* 플렉스박스 플렉스컨테이너 */
    display: flex;
  }
  nav .gnb_menu_list{
    /* 플레스 아이템 */

  }
  nav .gnb_menu_list .gnb_menu_item{
  position: relative;
  display: block;
  margin: 0 30px;
  height: var(--header-height);
  padding: 25px 0 0 0; /* 높이조절 :height와padding을 쓰거나 line-height */
  font-size: 18px;
  color: #000;
  }
  nav .gnb_menu_list .gnb_menu_item:after{
    /* :after 인라인레벨 */
    content:' '; 
    display: block;
    position: absolute;
    left: 0;
    bottom: 20px;
    width: calc(100% + 3px); /*계산기 함수 calc(값1 + 값2)*/
    height: 2px;
    background-color: var(--naver-color);
    transform: scale(0);
  }
  nav .gnb_menu_list:hover .gnb_menu_item:after,
  nav .gnb_menu_list .gnb_menu_item:focus:after      {
    transform: scale(1);
    transition: transform 0.5s;
    transform-origin: 0 0;
  }
   /* 
  .gnb_menu_list 대메뉴 
  .gnb_dropMenu_wrap 서브메뉴 
  */

  /* 모든 depth2 서브메뉴 => .gnb_dropMenu_wrap */
  nav .gnb_menu_list .gnb_dropMenu_wrap{
    position: absolute;
    /* display: none; <= depth1만 보이게 하기위해: depth2 서브메뉴 작업시 삭제*/
    /* left: 0; top: 0; 해본다 <-position: absolute;을 했기때문에 기본요소를 어디에줄지 확인하기 위해 */
    left: 0; top:var(--header-height);
    width: 100%;
    background-color: var(--naver-color);
    display: flex;
    justify-content: center;
    display: none;/*테스트 후 삭제*/
    z-index: 10000; /*서브메뉴 레이어를 최상위로*/
  }

  /*대메뉴의 마우스오버시 서브메뉴*/
  nav .gnb_menu_list:hover .gnb_dropMenu_wrap{
    display: flex; 
  }

  /* 대메뉴(depth1) 첫번째에 해당하는 서브메뉴 => :nth-of-type(1)  */
  nav .gnb_menu_list:nth-of-type(3) .gnb_dropMenu_wrap{
    /* display: flex;  */
    /*서브작업 후 삭제*/
  }

  .gnb_dropMenu_wrap > li{
    width: 190px;
    height: 340px;
    padding: 1.5rem 0 0 1.5rem;
    border-left: 1px solid #4bd16a;
  }
  .gnb_dropMenu_wrap > li:last-child{
    border-right: 1px solid #4bd16a;
  }
  .gnb_dropMenu_wrap .gnb_dropMenu{
  }
  .gnb_dropMenu li{
    padding: 0.3rem 0;
  }
  .gnb_dropMenu .depth_blank{
    margin-bottom: 1rem;
  }
  .gnb_dropMenu li .gnb_dropMenu_item{
    color: #fff;
  }


/* header_util */
  .header_util{
    display: flex;
   /* background-color: #999; 작업후삭제*/
  }
  .header_util .header_lang{}
  .header_lang a{
    color: #000;
    font-size: 0.8rem;
  }
  .header_lang a[aria-selected="false"]{
    opacity: 0.5;
  }
  .header_lang a:first-child{
    position: relative; /*after의 기준요소*/
    margin: 0 20px 0 0 ;
  }
  .header_lang a:first-child:after{
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 36px;
    width: 2px; height: 100%;
    background-color: #000;
  }
  .header_util .sitemap_box{
    width: 24px; height: 24px;
    margin: 0 0 0 2rem;
    /* background-color: #f8e; */
  }
  .sitemap_box .btn_sitemap{
    display: block;
    width: 100%; height: 100%;
    position: relative; /*햄버거메뉴용 span의 기준요소*/
  }
  .sitemap_box .btn_sitemap .btn_line{
    display: block;
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .sitemap_box .btn_sitemap span:nth-of-type(2){
    top:2px; width:calc(100% - 5px);
  }
  .sitemap_box .btn_sitemap span:nth-of-type(3){
    top:11px; width:calc(100% - 8px);
  }
  .sitemap_box .btn_sitemap span:nth-of-type(4){
    top:20px; width:100%;
  }
/* .main_centent */
.main_content{
  padding: 120px 150px;
  /*가운데정렬방법 
  :위에처럼 정의해도되고 주석처리한거처럼 정의해도된다. 
  width: 80;
  max-width: 1600px;
  margin: 0 auto;
  */
}
.main_content .content_summary{
  display: flex;
  /*기본값
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  */
}
.content_summary .summary_container{
  flex-basis: 25%; /*플렉스의 크기지정할때는 flex-basis로:가로축일때는 너비가크기값이고 세로축일때는 높이가크기값이다.*/
  /*기본값
  flex-grow: 0;
  flex-shrink: 1;
  */
  width: 25%; /*플렉스의 후손=플렉스아이템의 width.height때문에 값을 정확히 지정해줘야한다. */
  border: 1px solid #f00;
  padding-right: 50px;
}
.content_summary h3{
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 30px;
}
.content_summary .text_wrap{
  height: 76px;
}
.content_summary .text_wrap .title_text{
  width: 100%;
  /* margin: 30px 0; */
}
.content_summary .text_wrap .title_text strong{
  display: block;
  /*말줄임지정 시작*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*말줄임표지정 끝*/
  font-weight: 700;
}
.content_summary .text_wrap .desc_text{
  /* 2줄이상 상태의 말줄임 시작*/
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /*몇줄지정*/
  /* 2줄이상 상태의 말줄임 끝*/
  margin-top: 10px;
}

/* 바로가기 */
.content_summary a.summary_link{
  position: relative;
  color: #000;
  padding-right: 30px;
}
.content_summary a.summary_link:hover{
  text-decoration: underline;
}
/* 바로가기 옆에 화살표표시 */
.content_summary a.summary_link .icon_arrow{
  display: block; /*인라인레벨은 width를 지정할수 없다 width를 지정하기위해서 display: block;*/
  /* 일반흐름에서제외, 기준요소는 .content_summary a.summary_link에 준단*/
  position: absolute;
  right: 0; top: 0;
  width: 18px; height: 18px;
  border-radius: 50%;
}
.content_summary a.summary_link .icon_arrow:after{
  content: "";
  position: absolute; /*<- 이것의 기준요소는 부모인 .content_summary a.summary_link .icon_arrow의 position: absolute;이다*/
  left: 50%; top:50%; /*부모요소의 가운데시작*/
  transform: translate(-50%, -50%); /*자기크기의 반만큼 이동*/
  width: 5px; height: 8px; /*after,before는 크기를 지정해줘야한다*/
  background: url(../img/sprite.png) no-repeat;
  background-position: -102px -50px;
}

.content_summary a.summary_link:hover .icon_arrow{
  background-color: var(--naver-color);
}
.content_summary a.summary_link:hover .icon_arrow:after{
  background-position: -108px -49px;
}

.content_summary .news{}
.content_summary .career{
  font-size: 18px;
}
.content_summary .stock1{}
.content_summary .stock1 .price{
  font-size: 36px;
  letter-spacing: -1.7px;
  border-bottom: 1px solid #000;s
}
.content_summary .stock1 .price .unit{
  font-size:12px;
}
.content_summary .stock1 .text_wrap{ position: relative;}
.content_summary .stock1 .text_wrap .figure{
  position: absolute;
  bottom: 26px; right: 0;
}
.content_summary .stock1 .text_wrap .date{ text-align: right; }/*P태그는 블록 => 블록 안에서 정렬은 text-align으로*/

.content_summary .stock2{
  font-size: 18px;
}

.main_content .content_service{}
.main_content .content_support{}


/*********플러그인********/

/* 플러그인 */
/* bxslider */
.bx-wrapper{overflow: hidden;}
.bx-wrapper .bx-controls-direction a {
  width: 46px; height: 46px;
} /* <- src/css/jquery.bxslider.css의 .bx-wrapper .bx-controls-direction a{width: 32px;
  height: 32px;}가 적용되어있으므로 내가만든 지금 이 스타일시트(css/style.css)에.bx-wrapper .bx-controls-direction a{width: 46px;
  height: 46px;}을 적용하여 크기를 맞춘다*/

/* 이미지사용시 
.bx-wrapper .bx-prev {
  background: url(../img/sprite.png) -296px -99px no-repeat; // = background-image: url(../img/sprite.png);
  background-position: -296px -99px; //
  background-size: 474px 1500px; }
 */
.bx-wrapper .bx-prev {
  background-image: none;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: rotate(-45deg) translate(0, -50%);
  transform-origin: 0 0;
  left: 25px;
}
.bx-wrapper .bx-prev:hover, 
.bx-wrapper .bx-prev:focus{
  background-position: -296px -99px; 
}
.bx-wrapper .bx-next {
  background-image: none;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: rotate(135deg) translate(0, 50%);
  transform-origin: 0 0;
  right: -25px;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-image: none;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto{
bottom: 30px;
}
.bx-wrapper .bx-pager.bx-default-pager a{
  /*슬라이드버튼을 네모로*/
width: 24px; height: 4px;
border-radius: 0;
border: 0 none;
}

/* 플러그인 */
/* swiper */
.swiper{}
.swiper .swiper-wrapper{}
.swiper .swiper-wrapper .swiper-slide{}
.swiper-slide img{
  /* 가변이미지 */
  width: 100%; /*부모의 크기에 맞게 이미지 크기 조정*/
  /*max-width: 100%; 원래 이미지크기이상 되지 말아라*/
  height: auto;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  opacity: 0.6;
}
.swiper-button-next:hover,
.swiper-button-next:focus,
.swiper-button-prev:hover,
.swiper-button-prev:focus {
  opacity: 1;
  transition: color 0.2s;
}

.swiper-pagination-bullet{
  background-color: var(--naver-color);
  border-radius: 0;
  width: 20px; height: 10px;
}
.swiper-pagination-bullet-active{
  width: 40px;
}
